/**
 * @file
 * Custom styles
 */

h1, h2, h3, h4, h5, h6 {
  color: $rotated-plum;
  font-family: Numans, $body-font-family;
}

header[role=banner] {
  background-color: $rotated-deep-red;
  border-top: solid 0.5em $rotated-green;

  #block-mphtheme-branding a {
    color: $rotated-off-white;
    display: block;
    font-family: Oxygen, $body-font-family;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0.25em 0 0.333333em;
    text-transform: lowercase;

    .second-word {
      font-weight: 700;
    }
  }

  #block-pageheader {
    img {
      position: absolute;
      display: block;
      max-width: auto;
      height: 400px;
    }

    .field--node--field_splash_text {
      height: 230px;
      margin-bottom: 170px;
      padding-top: 170px;
      position: relative;

      p {
        background-color: $rotated-deep-red;
        background-color: rgba($rotated-deep-red, 0.7);

        color: $rotated-off-white;
        font-size: 0.7em;
        font-weight: bold;
        line-height: 1.2;
        padding: 0.2em;

        strong {
          color: $rotated-plum;
        }
      }

      & > div {
        width: 65%;
      }
    }
  }
}

.highlighted-and-help {
  padding: 2em 0;
}

.highlighted-and-help, .layout-post-content #block-contactus {
  font-size: 1.4em;

  text-align: center;

  p {
    margin: 0;
  }
}

main {
  h2 {
    text-align: center;
  }
}

.layout-post-content {
  padding-bottom: 2em;

  h2 {
    padding-top: 1em;
  }
  img {
    padding: 0.5em 2em;
  }

  h3, h4 {
    margin: 0;
  }
}

footer[role=contentinfo] {
  background-color: $rotated-grey;
  border-top: solid 0.5em $rotated-plum;
  color: $rotated-off-white;
  font-family: Numans, $body-font-family;
  font-size: 0.7em;
  padding: 2em 0 2em;

  text-align: center;
}
