/**
 * @file
 * Custom styles
 */

body > div {
  position: relative;
  z-index: 0;
}

#watermark {
  background: transparent url('../images/compass-31ab44-transparent.png') bottom left no-repeat;
  background-size: 80px 80px;
  height: 110px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 5;
}

// All header styles.
h1, h2, h3, h4, h5, h6 {
  color: $rotated-plum;
  font-family: Numans, $body-font-family;
}

// Custom header banner, with logo, splash image, splash text.
header[role=banner] {
  border-top: solid 0.5em $rotated-green;

  // Logo.
  #block-mphtheme-branding {
    background-color: $rotated-deep-red;
    a {
      color: $rotated-off-white;
      display: block;
      font-family: Oxygen, $body-font-family;
      font-size: 3em;
      font-weight: 300;
      line-height: 1.5;
      padding: 0.25em 0.2em 0.333333em;
      text-transform: lowercase;

      .second-word {
        font-weight: 700;
        padding-right: 100px;
      }
    }
  }

  // Splash.
  #block-pageheader {
    background-color: $rotated-green;
    display: none;
    height: 400px;

    // Ensure image transforms within its own div.
    div {
      position: relative;
      overflow: hidden;
    }

    // But don't apply this to the quickedit link.
    div.contextual {
      position: absolute;
      overflow: visible;
    }

    // Splash text is laid over.
    .field--node--field_splash_text {
      p {
        font-size: 0.7em;
        font-weight: bold;
        line-height: 1.2;
        padding: 0.2em;

        strong {
          color: $rotated-plum;
        }
      }
    }
  }
}

.highlighted-and-help {
  padding-top: 1em;
}

// This region shares some styles with the contact-us block.
.highlighted-and-help, .layout-post-content #block-contactus {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
}

// Most of main is handled by the grid.
main {
  // Tighten headings against text.
  h2 {
    margin: 0.4rem 0 0;
  }
}


// Post-content needs to include a portrait.
.layout-post-content {
  padding-bottom: 2em;

  h2 {
    padding-top: 1em;
  }
  img {
    display: block;
    margin: 0 auto;
    padding: 1em 0 0;
  }

  // Headings for name and job title need to be tight.
  h3, h4 {
    margin: 0;
    text-align: center;
  }

  p {
    margin: 0;
  }
}

// Footer "ends" the page scroll cleanly.
footer[role=contentinfo] {
  background-color: $rotated-grey;
  border-top: solid 0.5em $rotated-plum;
  color: $rotated-off-white;
  font-family: Numans, $body-font-family;
  font-size: 0.7em;
  padding: 2em 0 2em;

  text-align: center;
}

/**
 * @breakpoint 640px=40em
 */
@media screen and (min-width: 40em) {
  #watermark {
    background-size: 220px 220px;
    height: 160px;
    top: 0;
    width: 160px;
  }

  header[role=banner] #block-pageheader {
    display: block;
    div div {
      height: 400px;
    }

    img {
      display: block;
      // Splash image is "cropped" by the browser.
      position: relative;
      // Undo what Foundation has done.
      max-width: none;
      height: 400px;

      // Positioning for browsers that can transform.
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
    }
  }

  header[role=banner] #block-pageheader .field--node--field_splash_text {
    display: block;
    height: 360px;
    margin-bottom: -400px;
    padding-top: 40px;
    position: relative;
    top: -400px;

    & > div {
      width: 80%;
      margin: 0 auto;
    }

    p {
      background-color: $rotated-deep-red;
      background-color: rgba($rotated-deep-red, 0.7);
      color: $rotated-off-white;
      font-size: 0.6em;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 3.5em;
      padding: 0.2em;
      text-align: center;

      strong {
        color: $rotated-plum;
      }
    }
  }

  // Pre-content is in the highlighted-and-help region.
  .highlighted-and-help {
    max-width: 800px;
    padding: 2em 0 1em;
  }

  // This region shares some styles with the contact-us block.
  .highlighted-and-help, .layout-post-content #block-contactus {
    font-size: 1.4em;
    text-align: center;


    p {
      margin: 0;
    }
  }

  // No longer centre headings for name, job title.
  #block-whoarewe {
    h3, h4 {
      text-align: left;
    }
  }

  // Portrait image floating.
  #block-whoarewe img {
    display: inline;
    float: right;
    padding: 0em 2em 1em;
  }
}

/**
 * @breakpoint 960px=64em
 */
@media screen and (min-width: 64em) {
  #watermark {
    background-position: top left;
    background-size: 400px 400px;
    height: 280px;
    top: 256px;
    width: 280px;
  }

  header[role=banner] #block-pageheader .field--node--field_splash_text {
    height: 360px;
    padding-top: 40px;

    p {
      font-size: 0.7em;
      margin-bottom: 2.5em;
      text-align: left;
    }

    & > div {
      width: 65%;
      margin: 0;
    }
  }

  // Pre-content is in the highlighted-and-help region.
  .highlighted-and-help {
    padding-bottom: 2em;
  }

  // Re-align headings into the centre.
  main {
    h2 {
      margin: 0 0 0.5rem;
      text-align: center;
    }
  }
}
